<header>
    <%= render "partial/login-nav" %>
</header>

<main>
    <h3>投稿の編集</h3>
    
    <%= form_with(model: [current_user, @craft], local: true) do |form| %>
    <%= render "partial/errors_messages", model: form.object %>
        <div class="title">
            <%= form.label :title, "タイトル" %>
            <%= form.text_field :title, class: "form-text", value:@craft.title, style: "width:100%" %>
        </div>
        
        <div class="f-caption">
            <%= form.label :caption, "キャプション" %>
            <%= form.text_area :caption, class: "form-text", value:@craft.caption, style: "width:100%", rows: "15" %>
        </div>
        
        <div class="submit-btn">
            <%= form.submit "更新する", class: "submit" %>
        </div>
    <% end %>
    
    
    </div>
</main>