<header>
    <%= render "partial/login-nav" %>
</header>

<main>
    <h3>投稿の編集</h3>
    
    <div class="craft-form">
        <%= form_tag("/crafts/"+@craft.id.to_s,:method=>:patch) do %>
           <p class="f-headline"><%= label_tag "crafts-title", "タイトル" %></p>
            <%= text_field :crafts, :title, id:"crafts-title",value:@craft.title %>
            <p class="f-headline"><%= label_tag "crafts-caption", "キャプション" %></p>
            <%= text_field :crafts, :caption, id:"crafts-caption",value:@craft.caption %>
            <%= submit_tag "更新する" %>
        <% end %>   
    </div>
</main>