<style>
    nav.pagination {
      display: none;
    }
    .scroll-list {
      padding: 0;
    }
</style>

<header>
    <%= render "partial/login-nav" %>
</header>

<% flash.each do |message_type, message| %>
    <div class="alert">
      <%= message %>
    </div>
<% end %>

<main>
    <h3 class="border-h3">投稿一覧</h3>
    
    <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, placeholder: "キーワード検索", class: "search_form" %>
        <%= f.submit "検索", class: "search_submit" %>
    <% end %>
    
    <div class="card-list">
        <ul class="card"> 
            <% @crafts.each do |craft| %>
                <div class="one-card">
                    <% if current_user %>
                        <li class="card-img"><%= link_to (image_tag "#{craft.image}"), user_craft_path(current_user, craft.id) %></li>
                        <li class="card-title"><%= link_to craft.title.truncate(8), user_craft_path(current_user, craft.id) %></li>
                        <li class="card-name"><%= link_to craft.user.name.truncate(8), user_craft_path(current_user, craft.id) %></li>
                    <% end %>
                </div>
            <% end %>
        </ul>
        <%= paginate @crafts %>
    </div>
</main>

<script>
    $(function() {
         var jscrollOption = {
             loadingHtml: '読み込み中・・・', //記事読み込み中の表示
             autoTrigger: true, // 自動で読み込むか否か、trueで自動、falseでボタンクリックとなる
             nextSelector: 'span.next:last a', // 次に読み込むコンテンツのURLのあるa要素を指定。
             padding: 20, // 指定したコンテンツの下かた何pxで読み込むかを指定(autoTrigger: trueの場合のみ)
             contentSelector: '.card-list' // 読み込む範囲の指定
         };
    
        $(window).on('scroll', function() {
            scrollHeight = $(document).height();
            scrollPosition = $(window).height() + $(window).scrollTop();
            if (scrollHeight == scrollHeight) {
                $('.card-list').jscroll(jscrollOption);
            }
        });
    });
</script>
