<header>
    <%= render "partial/login-nav" %>
</header>

<main>
    <h3>新規投稿作成</h3>
    
    <%= form_with url: "/search", method: :get do |form| %>
        <%= form.label :craft_img, "画像を追加" %>
        <%= form.file_field :img, id: :craft_img %>
    <% end %> 


    
    <%= form_with(model: @craft, local: true) do |form| %>
        <div class="title">
            <%= form.label :title, "タイトル" %>
            <%= form.text_field :title, class: "form-text", placeholder:"タイトル", style: "width:100%" %>
        </div>
        
        <div class="f-caption">
            <%= form.label :caption, "キャプション" %>
            <%= form.text_area :caption, class: "form-text", placeholder:"投稿内容の補足や検索ワードなど", style: "width:100%", rows: "15" %>
        </div>
        
        <div class="submit-btn">
            <%= form.submit "投稿する", class: "submit" %>
        </div>
    <% end %>
 
</main>