<header>
    <%= render "partial/login-nav" %>
</header>

<main>
    <h3>新規投稿作成</h3>
    
    <%= form_with url: "/search", method: :get do |form| %>
        <%= form.label :craft_img, "画像を追加" %>
        <%= form.file_field :img, id: :craft_img %>
    <% end %> 
    <!--url: "/search"は何の引数を表記するのか調べる-->
    
    
    <div class="craft-form">
        <%= form_tag("/create") do %>
            <div class="title">
                <p class="f-headline"><%= label_tag "crafts-title", "タイトル" %></p>
                <p class="f-title"><%= text_field :crafts, :title, id:"crafts-title",placeholder:"タイトル", style: "width:100%" %></p>
            </div>
            <div class="caption">
                <p class="f-headline"><%= label_tag "crafts-caption", "キャプション" %></p>
                <p class="f-caption"><%= text_area :crafts, :caption, id:"crafts-caption",placeholder:"投稿内容の補足や検索ワードなど", style: "width:100%", rows: "15" %></p>
            </div>
            <div class="submit-btn"><%= submit_tag "投稿する", class: "submit" %></div>
        <% end %>   
    </div>
</main>