<header>
    <%= render "partial/login-nav" %>
</header>

<main>
  <%= form_with url: search_path, method: :get, local: true,class: "search_form" do |f| %>
      <%= f.text_field :keyword, placeholder: "キーワード検索", style: "width:80%", rows: "15" %>
      <%= f.submit "検索" %>
  <% end %>
  
  <%= @keywords %>の検索結果
  
  <% if @crafts.empty? %>
    <p>該当する投稿はありません。</p>
  <% else %>
    <% @crafts.each do |craft| %>
      <p><%= craft.title %> <%= craft.caption %></p>
    <% end %>
  <% end %>
</main>