<header>
    <%= render "partial/login-nav" %>
</header>

<main>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, placeholder: "キーワード検索",class: "search_form", style: "width:80%" %>
      <%= f.submit "検索", class: "search_submit" %>
  <% end %>
  
  <%= @keywords %>の検索結果
  
  <% if @crafts.empty? %>
    <p>該当する投稿はありません。</p>
  <% else %>
    <div class="card-list">
        <ul class="card"> 
            <% @crafts.each do |craft| %>
                <div class="one-card">
                    <% if current_user %>
                        <li class="card-img"><%= link_to (image_tag "#{craft.image}"), user_craft_path(current_user, craft.id) %></li>
                        <li class="card-title"><%= link_to craft.title.truncate(10), user_craft_path(current_user, craft.id) %></li>
                        <li class="card-name"><%= link_to craft.user.name.truncate(10), user_craft_path(current_user, craft.id) %></li>
                    <% end %>
                </div>
            <% end %>
        </ul>
        <%= paginate @crafts %>
    </div>
  <% end %>
</main>