<header>
    <%= render "partial/login-nav" %>
</header>

<main class="craft-main">
    <h2><%= @craft.title %></h2>
    
    <% if @craft.image? %>
        <%= link_to image_url(@craft.image), "data-lightbox": image_url(@craft.image) do %>
          <%= image_tag image_url(@craft.image), class:"craft-img", style: "width:80%" %>
        <% end %>
    <% else %>
        <image src="/assets/text-only.jpg" alt="テキストのみの投稿">
    <% end %>
    
    <div class="c-user">
        <%= image_tag current_user.avatar.url, alt: "user-icon", class: "c-user-icon", size: "40x40" %>
        <p class="c-user-name"><%= current_user.name %></p>
    </div>
    <p class="craft-time"><%= l @craft.created_at %></p>
    <p class="c-caption"><%= @craft.caption %></p>
    
    <div id="thank_btn_<%= @craft.id %>">
        <%= render "thanks/btn", craft: @craft %>
    </div>
    
    <div class="c-space"></div>
    
</main>