<header>
    <%= render "partial/login-nav" %>
</header>

<main>
    <h2><%= @craft.title %></h2>
    
    <p><%= (image_tag "#{@craft.image}") %></p>
    <p><%= @craft.caption %></p>
    
    <div id="thank_btn_<%= @craft.id %>">
        <%= render "thanks/btn", craft: @craft %>
    </div>
    
    <!--<%= link_to "投稿を編集", edit_user_craft_path(current_user, craft.id) %>-->
    <!--<%= link_to "投稿を削除", user_craft_path(current_user, craft.id), method: :delete, data: { confirm: '本当に削除しますか？' } %>-->
    
</main>