<header>
    <%= render "partial/logout-nav" %>
</header>

<main>
    <img class="logo" src="/assets/logo.png" alt="HouHubロゴ画像">
    
    <p>ノウハウを共有して</p>
    <p>楽しく腕を磨こう！</p>
    
    <p>ユーザー名*</p>
    <input name="name" value="<%= @user.name %>">
    <!--@usersのインスタンス変数定義してなかった～～！！-->
    
    <p>メールアドレス*</p>
    <input name="mail" value="<%= @user.mail %>">
    
    <p>パスワード*</p>
    <input name="password" value="<%= @user.password %>">
    
    <div class=”field”>
        <%= check_box_tag :agree %>
        <%= label_tag :agree, "利用規約を確認し、同意しました。*" %>
    </div>
    
    <input type="submit" value="アカウントを作成する">
    
    <!--バリデーションにチェックボックスのチェック済のコード書くのか？-->
    
    <p>アカウントをお持ちの方はこちら</p>
    <a href="#">ログイン</a>
    
</main>