<header>
    <%= render "partial/login-nav" %>
</header>

<main class="profile-main">
    <%= render "partial/errors_messages" %>
    
    <div class="profile">
        <%= image_tag current_user.avatar.url, alt: "user-icon", class: "user_icon", size: "130x130" %>
        <p class="profile-name"><%= current_user.name %></p>
        <p class="profile-text"><%= current_user.profile_text %></p>
        <p class="profile-link"><%= link_to "プロフィールを編集", edit_profile_path, class: "profile-edit" %></p>
    </div>
    
    <section class="p-space"></section>
    
    <div class="p-links">
        <p class="my-crafts"><%= link_to "投稿一覧", profile_path, class: "thanks-link"%></p>
        <p class="my-thanks">ありがとう一覧</p>
    </div>
    
    <div class="card-list">
        <ul class="my-card">
            <% @thanks.each do |thank|%>
                <div class="one-card">
                    <li class="card-img"><%= link_to (image_tag "#{thank.image}"),  user_craft_path(current_user,@thanks) %></li>
                    <li class="card-title"><%= link_to thank.title.truncate(10),  user_craft_path(current_user,@thanks) %></li>
                    <li class="card-name"><%= link_to thank.user.name.truncate(10), user_craft_path(current_user,@thanks) %></li>
                </div>
            <% end %>
        </ul>
    </div>
    
    <%= paginate @thanks %>
    
</main>