<header>
    <%= render "partial/logout-nav" %>
</header>

<main class="signup-main">
    <%= image_tag 'logo.png', class: "logo", alt: "HouHubロゴ画像" %>
    
    <p class="signup-p">ノウハウを共有して<br>
        楽しく腕を磨こう！</p>
    
    <h3 class="border-h3">新規アカウント作成</h3>
    
    <% if @user.errors.any? %>
      <div class = "danger">
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= form_with(model: @craft, local: true) do |form| %>
        <div class="form-content">
            <div class="name">
                <span class="f-label"><%= form.label :name, "ユーザーネーム" %><span class="necessary">*</span></span>
                <%= form.text_field :name, class: "form-text" %>
            </div>
            
            <div class="mail">
                <span class="f-label"><%= form.label :mail, "メールアドレス" %><span class="necessary">*</span></span>
                <%= form.text_field :mail, class: "form-text"%>
            </div>
            
            <div class="password">
                <span class="f-label"><%= form.label :password, "パスワード" %><span class="necessary">*</span></span>
                <%= form.text_field :password, class: "form-text", placeholder:"半角6文字以上 / 英大文字・小文字・数字それぞれ１文字以上含んでください" %>
            </div>
            
            <div class="password">
                <span class="f-label"><%= form.label :password, "パスワード(確認用)" %><span class="necessary">*</span></span>
                <%= form.text_field :password_confirmation, class: "form-text s-form", placeholder:"確認のためもう一度入力" %>
            </div>
            
            <div class=”field”>
                <%= form.check_box :agree %>
                <%= link_to "利用規約", page_path('rules'), target: :_blank, rel: "noopener noreferrer", class: "rules" %>を確認し、同意しました<span class="necessary">*</span>
            </div>
        </div>
        
        <div class="signup-btn">
            <%= form.submit "アカウントを作成する", class: "signup-submit" %>
        </div>
    <% end %>
    
    
    <% if params[:login_type] == 'guest' %>
        <p class="guest">ゲスト様はこちらからお入りください</p>
        <%= link_to "ゲストログイン", guest_login_path, method: :post, class: "login-btn" %>
    <% else %>
        <p class="signup-p2">アカウントをお持ちの方はこちら</p>
        <%= link_to "ログイン", "/login", class: "login-btn" %>
    <% end %>
    
</main>

<div class="footer-sp">
    <small>&copy 2024 Iroha All Rights Reserved.</small>
</div>