<nav class="login">
    <div class="header-left">
          <a href="/"><h1><img src="/assets/logo_head.png" alt="HowHub"></h1></a>
    </div>
  
    <div class="header-right">
            <i class="fa fa-bars fa-2x fa-fw" id="open"></i>
              
            <div class="pc-menu">
                <span class="nav-link">
                    <% if current_user %>
                        <%= link_to "マイページ", profile_path %>
                    <% end %>
                </span>
                <% if current_user %>
                    <%= link_to "新規投稿作成", new_user_craft_path(current_user.id), class: "register" %>
                <% end %>
            </div>
    </div>
          
    <!--ハンバーガーメニュー-->
    <div class="overlay">
        <i class="fa fa-times fa-2x fa-fw close"></i>
        <nav>
            <ul>
                <li>
                    <% if current_user %>
                        <%= link_to "新規投稿作成", new_user_craft_path(current_user.id) %>
                    <% end %>
                </li>
                <li>
                    <% if current_user %>
                        <%= link_to "マイページ", profile_path %>
                    <% end %>
                </li>
                <br>
                <li>
                    <% if current_user %>
                        <%= link_to 'ログアウト', logout_path, method: :delete %>
                    <% end %>
                </li>
            </ul>
        </nav>
    </div>
</nav>