<nav class="logout">
    <div class="header-left">
        <a href="/top"><h1><img src="/assets/logo_head.png" alt="HowHub"></h1></a>
    </div>
    
    <div class="header-right">
        <i class="fa fa-bars fa-2x fa-fw" id="open"></i>
        
        <div class="pc-menu">
            <span class="nav-link"><%= link_to "HouHubとは", top_path(anchor: "howhub") %></span>
            <span class="nav-link"><%= link_to 'ログイン', login_path %></span>
            <a href="/signup" class="register">ユーザー登録</a>
        </div>
    </div>
    
    <!--ハンバーガーメニュー-->
    <div class="overlay">
        <i class="fa fa-times fa-2x fa-fw close"></i>
        <nav>
            <ul>
                <li>
                    <%= link_to "HouHubとは", top_path(anchor: "howhub") %>
                </li>
                <li>
                    <%= link_to 'ログイン', login_path %>
                </li>
                <li>
                    <%= link_to 'ユーザー登録', signup_path %>
                </li>
            </ul>
        </nav>
    </div>
</nav>