<% if current_user %>
    <header>
        <%= render "partial/login-nav" %>
    </header>
<% else %>
    <header>
        <%= render "partial/logout-nav" %>
    </header>
<% end %>

<main>
    <h2 class="rule">プライバシーポリシー</h2>
    
    <p class="rule-text">
        本ウェブサイト上で提供するサービス「HowHub」（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて
        以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。
    </p>
    
    <h3 class="rule-title">第1条（個人情報）</h3>
    <p class="rule-text">「個人情報」とは、個人情報保護法にいう「個人情報」を指すものとし、特定の個人を識別できる情報（個人識別情報）を指します。</p>
        
    <h3 class="rule-title">第2条（個人情報の収集方法）</h3>
    <p class="rule-text">本サービスは、ユーザーが利用登録をする際に、メールアドレスを収得します。またユーザーからのお問い合わせ時に、お名前、メールアドレス等の個人情報をご入力いただく場合がございますが、これらの個人情報は
        ご提供いただく際の目的以外では利用いたしません。ユーザーからお預かりした個人情報は、本サービスからのご連絡やご質問に対する回答として、電子メールのご送付に利用いたします。</p>
    
    <h3 class="rule-title">第3条（個人情報を収集・利用する目的）</h3>
    <p class="rule-text">本サービスが個人情報を収集・利用する目的は、以下のとおりです。</p>
    <ol class="rule-text">
        <li>本サービスの提供・運営のため</li>
        <li>本サービスに関するご案内、お問い合わせへの対応</li>
        <li>ユーザーが利用中のサービスの新機能、更新情報等のご案内のメールを送付するため</li>
        <li>メンテナンス，重要なお知らせなど必要に応じたご連絡のため</li>
        <li>利用規約に違反したユーザーや、不正・不当な目的でサービスを利用しようとするユーザーの特定をし、ご利用をお断りするため</li>
        <li>ユーザーにご自身の登録情報の閲覧や変更、削除、ご利用状況の閲覧を行っていただくため</li>
        <li>上記の利用目的に付随する目的</li>
    </ol>
    
    <h3 class="rule-title">第4条（利用目的の変更）</h3>
    <ol class="rule-text">
        <li>本サービスは、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。</li>
        <li>利用目的の変更を行った場合には、変更後の目的について、当社所定の方法により、ユーザーに通知し、または本ウェブサイト上に公表するものとします。</li>
    </ol>
    
    <h3 class="rule-title">第5条（個人情報の第三者提供）</h3>
    <p class="rule-text">本サービスは、ユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。
        ただし、個人情報保護法その他の法令で認められる場合を除きます。</p>
    
    <h3 class="rule-title">第6条（免責）</h3>
    <p class="rule-text">本サービスは、第三者による個人情報の取り扱いに関し、次に掲げる場合には一切の責任を負いません。</p>
    <ol class="rule-text">
        <li>ユーザーが、本サービスの機能または別の手段を用いて第三者に個人情報を明らかにした場合</li>
        <li>第三者が、外部の手段を用いて取得した利用者の個人情報を本サービスの機能を用いて明らかにした場合</li>
    </ol>
    
    <h3 class="rule-title">第7条（プライバシーポリシーの変更）</h3>
    <ol class="rule-text">
        <li>本ポリシーの内容は、法令その他本ポリシーに別段の定めのある事項を除いて、ユーザーに通知することなく、変更することができるものとします。</li>
        <li>本サービスが別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</li>
    </ol>
</main>

<footer>
    <div class="footer-left">
        <div class="f-logo">
            <img src="/assets/f-logo.png" alt="ロゴ画像">
        </div>
        <ul class="f-nav">
            <li><%= link_to "HouHubとは", top_path(anchor: "howhub") %></li>
            <li><%= link_to '利用規約', page_path('rules') %></li>
            <li><%= link_to 'プライバシーポリシー', page_path('policy') %></li>
        </ul>
    </div>
    <div class="footer-right">
        <small>&copy 2024 Iroha All Rights Reserved.</small>
    </div>
</footer>