<header>
    <%= render "partial/login-nav" %>
</header>

<main>
    <img class="logo" src="/assets/logo.png" alt="HouHubロゴ画像">
    
    <p class="signup-p">ノウハウを共有して<br>
      楽しく腕を磨こう！</p>
      
    <h3 class="contact-h3">お問い合わせフォーム</h3>
      
    <%= form_with(model: @contact, local: true) do |form| %>
        <div class="f-name">
            <%= form.label :name, "お名前" %><span class="necessary">*</span>
            <%= form.text_field :name, class: "form-text", placeholder:"お名前", style: "width:100%" %>
        </div>
        
        <div class="f-mail">
          <%= form.label :email, "メールアドレス" %><span class="necessary">*</span>
          <%= form.text_field :email, class: "form-text", placeholder:"メールアドレス", style: "width:100%" %>
        </div>
        
        <div class="f-subject">
            <%= form.label :subject, "お問い合わせタイトル" %><span class="necessary">*</span>
            <%= form.text_field :subject, class: "form-text", placeholder:"〇〇について等/200文字以内", style: "width:100%" %>
        </div>
        
        <div class="f-message">
            <%= form.label :message, "お問い合わせ内容" %><span class="necessary">*</span>
            <%= form.text_area :message, class: "form-text", placeholder:"2000文字以内", style: "width:100%", rows: "15" %>
        </div>
        
        <div class="submit-btn">
            <%= form.submit "送信する", class: "submit" %>
        </div>
    <% end %>
</main>
