<%= @contact.name %> 様 から問い合わせがありました。<br>
【Mail】：<%= @contact.email %><br>
【用件】：<%= @contact.subject %><br>
【お問い合わせ内容】<br>
<%= @contact.name%>様<br>

  いつもご利用いただき誠に有難うございます。<br>
  また、お問合せのメールを頂き誠に有難うございます。<br>
<br>
  ===============================================<br>

  【お問合せ内容】<br>
<span style="white-space: pre-wrap;"><%= @contact.message %></span><br>
 ===============================================<br>
<br>
  頂きましたお問合せ内容につきましては、内容を確認の上早急に対応致します。<br>
  お時間少々頂戴できますと幸甚でございます。<br>
<br>
  また、今後ともHowHubをどうぞよろしくお願い申し上げます。<br>
<br>
  --------------------<br>
  HowHub<br>
  責任者:いろは<br>
  --------------------
