<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HowHub-ハウハブ- クリエイターの技術共有コミュニティ</title>
    <mata name="description" content="全てのクリエイターのための技術・ノウハウ共有コミュニティ">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>

  <body>
    <!--これやるとトップページ重複する、containerも同じく余白ダブるけどこっちはトップの方消すだけで良さそう-->
    
    <!--<div class="header-left">-->
    <!--        <div class="container">-->
    <!--            <a href="/"><h1><img src="/assets/logo_head.png" alt="HowHub"></h1></a>-->
    <!--        </div>-->
    <!--    </div>-->
    
    <!--    <div class="header-right">-->
    <!--        <div class="container">-->
    <!--            <i class="fa fa-bars fa-2x fa-fw" id="open"></i>-->
                
    <!--            <div class="pc-menu">-->
    <!--                <span class="nav-link"><a href="#" class="login">ログアウト</a></span>-->
    <!--                <span class="nav-link"><a href="#">投稿を編集</a></span>-->
    <!--                <a href="#" class="register">新規投稿作成</a>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
        
        <!--ハンバーガーメニュー-->
    <!--    <div class="overlay">-->
    <!--        <i class="fa fa-times fa-2x fa-fw close"></i>-->
    <!--        <nav>-->
    <!--            <ul>-->
    <!--                <li><a href="#">新規投稿作成</a></li>-->
    <!--                <li><a href="#">投稿を編集</a></li7>-->
    <!--                <li><a href="#">ログアウト</a></li>-->
    <!--            </ul>-->
    <!--        </nav>-->
    <!--    </div>-->
        <!--<div class="container">-->
    <%= yield %>
  </body>
</html>
