<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HowHub-ハウハブ- クリエイターの技術共有コミュニティ</title>
    <meta name="description" content="全てのクリエイターのための技術・ノウハウ共有コミュニティ">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
