<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HowHub-ハウハブ- クリエイターの技術共有コミュニティ</title>
    <mata name="description" content="全てのクリエイターのための技術・ノウハウ共有コミュニティ">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="js/jquery-1.11.1.min.js"></script>
    <%= favicon_link_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
